.TeamSelect{
	text-align: center;
}
#team-name{
	font-size: 18px;
	height: 40px;
	margin: 30px auto 40px auto;
	text-align: center;
	width: 400px;
}
.team-select table{
	border-collapse: collapse;
	margin: 0px auto;
	user-select: none;
	width: 100%;
}
.team-select tr{
	background: #DDD;
	cursor: pointer;
}
.team-select tr:hover{
	background: #CCC;
}
.team-select tr.selected{
	background: rgba(213,43,30,0.25);
	cursor: not-allowed;
}
.team-select th{
	background: white;
	border: 1px solid #DDD;
	font-size: 16px;
	font-weight: bold;
	padding: 8px;
}
.team-select td{
	border: 1px solid #BBB;
	font-size: 18px;
	height: 50px;
	vertical-align: middle;
}
.team-select td:first-child{
	border-left: none;
}
.team-select td:last-child{
	border-right: none;
}
.team-select th:first-child{
	border-left: none;
}
.team-select th:last-child{
	border-right: none;
}
.team-select-flag{
	border: 0px solid #999;
	border-radius: 100%;
	box-shadow: 2px 2px 4px #000;
	float: left;
	height: 40px;
	margin: 5px 20px 5px 10px;
	width: 40px;
}
.team-select-name{
	display: block;
	float: left;
	font-size: 22px;
	font-weight: 300;
	line-height: 50px;
}
.team-select-price{
	font-weight: bold;
}


.team-select-teams td{
	height: 55px;
}
.number-chosen, .salary{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}
.team-select-info{
	cursor: auto !important;
}
.team-select-info td{
	border-top: 5px solid #BBB;
}
.team-select-bottom:hover{
	background: #DDD !important;
}

.team-select-bottom td{
	border-left: none;
	border-right: none;
	width: 50%;
}
.team-select-bottom td:last-child{
	width: 0%;
}

.team-select-action td{
	border-bottom: none;
}
.team-select-action button{
	background: #00b140;
	border: none;
	color: white;
	height: 100%;
	width: 100%;
}
.team-select-action button:hover{
	background: #01c649;
}
.team-select-action td.clear button{
	background: #cd5c5c
}
.team-select-action td.clear button:hover{
	background: #bc4343;
}

@media screen and (max-width: 900px) {
  #team-name{
    max-width: 100%;
  }
}


